.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: #f0f0f0; /* Thay đổi màu nền của tiêu đề thành xám nhạt */
    color: #333; /* Màu chữ đậm */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    cursor: pointer;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  